<section class="vh-100" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <!------ Include the above in your HEAD tag ---------->

    <!-- <div class="jumbotron jumbotron-sm">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-lg-12">
                  <h1 class="h1">
                      Contact us <small>Feel free to contact us</small></h1>
              </div>
          </div>
      </div>
  </div> -->
    <br>
    <h2 class="h3 block-title text-center">Contact Us<br></h2>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form [formGroup]="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Name</label>
                                    <input formControlName="name" type="text" class="form-control" id="name"
                                        placeholder="Enter name">
                                    <span class="text-danger"
                                        *ngIf="contactForm.controls['name'].dirty && contactForm.hasError('required','name')">*Name
                                        is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input formControlName="email" type="email" class="form-control" id="email"
                                            placeholder="Enter email" required="required" />
                                    </div>
                                    <span class="text-danger"
                                        *ngIf="contactForm.controls['email'].dirty && contactForm.hasError('required','email')">*email
                                        is required</span>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Subject</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="service">General Customer Service</option>
                                        <option value="suggestions">Suggestions</option>
                                        <option value="product">Product Support</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                        required="required" formControlName="message" placeholder="Message"></textarea>
                                    <span class="text-danger"
                                        *ngIf="contactForm.controls['message'].dirty && contactForm.hasError('required','message')">*Message
                                        is required</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button (click)="ngOnSubmit()" [disabled]="!contactForm.valid" type="submit"
                                    class="btn btn-primary pull-right" id="btnContactUs">
                                    Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 text-light">
                <form>
                    <legend><span class="glyphicon glyphicon-globe "></span>Our office</legend>
                    <address>
                        <strong>Shift, Inc.</strong><br>
                        San Francisco, CA<br>
                        Phone:
                        (123) 456-7890
                    </address>
                    <address>
                        <strong>Mail Id</strong><br>
                        <a href="http://mail.google.com/mail/">shift@gmail.com</a>
                    </address>
                </form>
            </div>
        </div>
    </div>