<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="bg">
<div >
    <section class="container pt-3 mb-3">
        <h2 class="h3 block-title text-center text-light">About Us<br><br></h2>
        <div class="row pt-5 mt-30">
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="https://www.interaction-design.org/literature/topics/prototyping">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-user fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">UX Prototyping</h3>
                        <p class="card-text text-sm">A prototype is “A simulation or sample version of a final product,
                            which UX teams use for testing before launch.”</p>
                        <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="https://blog.openclassrooms.com/en/2018/03/02/difference-ux-ui-web-designer/">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i
                            class="fa fa-user-circle-o fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Web &amp; UI Design</h3>
                        <p class="card-text text-sm">User Interface (UI) — A specialization of web design that deals
                            with the controls people use to interact with a website or app, including button displays
                            and gesture controls.</p>
                        <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="https://frontendmasters.com/guides/front-end-handbook/2018/what-is-a-FD.html">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i
                            class="fa fa-address-book fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Front-End Development</h3>
                        <p class="card-text text-sm">Front-end web development, also known as client-side development is
                            the practice of producing HTML, CSS and JavaScript.</p>
                        <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="https://www.guru99.com/what-is-backend-developer.html">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-car fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Back-End Development</h3>
                        <p class="card-text text-sm">It is everything that the users don't see and contains
                            behind-the-scenes activities that occur when performing any action on a website.</p>
                        <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="https://www.usability.gov/how-to-and-tools/methods/usability-testing.html">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i
                            class="fa fa-camera fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Usability Testing</h3>
                        <p class="card-text text-sm">Usability testing refers to evaluating a product or service by
                            testing it with representative users.</p>
                        <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="https://moz.com/beginners-guide-to-seo">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i
                            class="fa fa-image fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">SEO Optimization</h3>
                        <p class="card-text text-sm">SEO stands for search engine optimization, which is a set of
                            practices designed to improve the appearance and positioning of web pages in organic search
                            results.</p>
                        <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>